<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UntappdViewer.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UntappdViewer.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UntappdViewer.Infrastructure.Properties.Settings>
            <setting name="RecentFilePaths" serializeAs="String">
                <value />
            </setting>
            <setting name="TreeRegionWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsCheckedUniqueCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedTreeItemId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OffsetUpdateBeer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsStartWelcomeView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCheckedSaveAccessToken" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
        </UntappdViewer.Infrastructure.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <UntappdViewer.Infrastructure.Properties.Settings>
            <setting name="DefaultUserName" serializeAs="String">
                <value>NoName</value>
            </setting>
            <setting name="TreeItemNameMaxLength" serializeAs="String">
                <value>41</value>
            </setting>
            <setting name="MaxRecentFilePaths" serializeAs="String">
                <value>3</value>
            </setting>
        </UntappdViewer.Infrastructure.Properties.Settings>
    </applicationSettings>
</configuration>